<!-- Activates various annotations to be detected in bean classes -->
<context:annotation-config />

<!-- Scans the classpath for annotated components that will be auto-registered 
	as Spring beans. For example @Controller and @Service. Make sure to set the 
	correct base-package -->
<context:component-scan base-package="au.com.ozblog" />

<!-- Configures the annotation-driven Spring MVC Controller programming model. 
	Note that, with Spring 3.0, this tag works in Servlet MVC only! -->
<mvc:annotation-driven />

<import resource="hibernate-context.xml" />